nifi/templates/ElasticIngestBasic.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>1b744f48-0162-1000-4185-be080eced6ee</groupId>
  <name>ElasticIngestBasic</name>
  <snippet>
    <connections>
      <id>d577b7e5-5c4d-3cd4-0000-000000000000</id>
      <parentGroupId>c3687264-465b-3ec1-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>c3687264-465b-3ec1-0000-000000000000</groupId>
        <id>9fdf0900-5a24-3165-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>c3687264-465b-3ec1-0000-000000000000</groupId>
        <id>44d24922-7b75-34fd-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>19fdb456-af36-3bf5-0000-000000000000</id>
      <parentGroupId>c3687264-465b-3ec1-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>c3687264-465b-3ec1-0000-000000000000</groupId>
        <id>49d98939-7447-3d25-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>c3687264-465b-3ec1-0000-000000000000</groupId>
        <id>9fdf0900-5a24-3165-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>1b1a376b-1a93-31ef-0000-000000000000</id>
      <parentGroupId>c3687264-465b-3ec1-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>c3687264-465b-3ec1-0000-000000000000</groupId>
        <id>6c1cd8a6-0185-3c88-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>c3687264-465b-3ec1-0000-000000000000</groupId>
        <id>80f7183a-52f2-3fee-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>4cd719dd-1d7b-39cd-0000-000000000000</id>
      <parentGroupId>c3687264-465b-3ec1-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>c3687264-465b-3ec1-0000-000000000000</groupId>
        <id>44d24922-7b75-34fd-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>c3687264-465b-3ec1-0000-000000000000</groupId>
        <id>0af0548c-3e8b-363b-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>537c4f90-e932-36aa-0000-000000000000</id>
      <parentGroupId>c3687264-465b-3ec1-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>c3687264-465b-3ec1-0000-000000000000</groupId>
        <id>80f7183a-52f2-3fee-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>splits</selectedRelationships>
      <source>
        <groupId>c3687264-465b-3ec1-0000-000000000000</groupId>
        <id>49d98939-7447-3d25-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>80251d2c-c121-3998-0000-000000000000</id>
      <parentGroupId>c3687264-465b-3ec1-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-registry-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>emails</key>
          <value>
            <name>emails</name>
          </value>
        </entry>
      </descriptors>
      <name>AvroSchemaRegistry</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>emails</key>
          <value>    {
      "type": "record",
      "name": "EmailsRecord",
      "fields" : [
      	{"name": "file", "type": ["null", "string"]},
      	{"name": "message", "type": ["null", "string"]}
      ]
    }</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</type>
    </controllerServices>
    <controllerServices>
      <id>8251da4d-4681-3b78-0000-000000000000</id>
      <parentGroupId>c3687264-465b-3ec1-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Schema Write Strategy</key>
          <value>
            <name>Schema Write Strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
        <entry>
          <key>Pretty Print JSON</key>
          <value>
            <name>Pretty Print JSON</name>
          </value>
        </entry>
      </descriptors>
      <name>JsonRecordSetWriter</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Schema Write Strategy</key>
          <value>full-schema-attribute</value>
        </entry>
        <entry>
          <key>schema-access-strategy</key>
          <value>inherit-record-schema</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>80251d2c-c121-3998-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
        <entry>
          <key>Pretty Print JSON</key>
          <value>false</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.json.JsonRecordSetWriter</type>
    </controllerServices>
    <controllerServices>
      <id>f65caf85-0356-386b-0000-000000000000</id>
      <parentGroupId>c3687264-465b-3ec1-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
      </descriptors>
      <name>JsonTreeReader</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>schema-access-strategy</key>
          <value>schema-text-property</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>80251d2c-c121-3998-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.json.JsonTreeReader</type>
    </controllerServices>
    <controllerServices>
      <id>3a57db91-41ec-3ccf-0000-000000000000</id>
      <parentGroupId>c3687264-465b-3ec1-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-record-serialization-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>schema-access-strategy</key>
          <value>
            <name>schema-access-strategy</name>
          </value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>
            <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
            <name>schema-registry</name>
          </value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>
            <name>schema-name</name>
          </value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>
            <name>schema-text</name>
          </value>
        </entry>
        <entry>
          <key>Date Format</key>
          <value>
            <name>Date Format</name>
          </value>
        </entry>
        <entry>
          <key>Time Format</key>
          <value>
            <name>Time Format</name>
          </value>
        </entry>
        <entry>
          <key>Timestamp Format</key>
          <value>
            <name>Timestamp Format</name>
          </value>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>
            <name>CSV Format</name>
          </value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>
            <name>Value Separator</name>
          </value>
        </entry>
        <entry>
          <key>Skip Header Line</key>
          <value>
            <name>Skip Header Line</name>
          </value>
        </entry>
        <entry>
          <key>ignore-csv-header</key>
          <value>
            <name>ignore-csv-header</name>
          </value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>
            <name>Quote Character</name>
          </value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>
            <name>Escape Character</name>
          </value>
        </entry>
        <entry>
          <key>Comment Marker</key>
          <value>
            <name>Comment Marker</name>
          </value>
        </entry>
        <entry>
          <key>Null String</key>
          <value>
            <name>Null String</name>
          </value>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>
            <name>Trim Fields</name>
          </value>
        </entry>
      </descriptors>
      <name>CSVReader</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>schema-access-strategy</key>
          <value>csv-header-derived</value>
        </entry>
        <entry>
          <key>schema-registry</key>
          <value>80251d2c-c121-3998-0000-000000000000</value>
        </entry>
        <entry>
          <key>schema-name</key>
          <value>${schema.name}</value>
        </entry>
        <entry>
          <key>schema-text</key>
          <value>${avro.schema}</value>
        </entry>
        <entry>
          <key>Date Format</key>
        </entry>
        <entry>
          <key>Time Format</key>
        </entry>
        <entry>
          <key>Timestamp Format</key>
        </entry>
        <entry>
          <key>CSV Format</key>
          <value>rfc-4180</value>
        </entry>
        <entry>
          <key>Value Separator</key>
          <value>,</value>
        </entry>
        <entry>
          <key>Skip Header Line</key>
          <value>false</value>
        </entry>
        <entry>
          <key>ignore-csv-header</key>
          <value>false</value>
        </entry>
        <entry>
          <key>Quote Character</key>
          <value>"</value>
        </entry>
        <entry>
          <key>Escape Character</key>
          <value>\</value>
        </entry>
        <entry>
          <key>Comment Marker</key>
        </entry>
        <entry>
          <key>Null String</key>
        </entry>
        <entry>
          <key>Trim Fields</key>
          <value>true</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.csv.CSVReader</type>
    </controllerServices>
    <processors>
      <id>80f7183a-52f2-3fee-0000-000000000000</id>
      <parentGroupId>c3687264-465b-3ec1-0000-000000000000</parentGroupId>
      <position>
        <x>61.0</x>
        <y>440.0</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Rate Control Criteria</key>
            <value>
              <name>Rate Control Criteria</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Rate</key>
            <value>
              <name>Maximum Rate</name>
            </value>
          </entry>
          <entry>
            <key>Rate Controlled Attribute</key>
            <value>
              <name>Rate Controlled Attribute</name>
            </value>
          </entry>
          <entry>
            <key>Time Duration</key>
            <value>
              <name>Time Duration</name>
            </value>
          </entry>
          <entry>
            <key>Grouping Attribute</key>
            <value>
              <name>Grouping Attribute</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Rate Control Criteria</key>
            <value>flowfile count</value>
          </entry>
          <entry>
            <key>Maximum Rate</key>
            <value>100</value>
          </entry>
          <entry>
            <key>Rate Controlled Attribute</key>
          </entry>
          <entry>
            <key>Time Duration</key>
            <value>1 min</value>
          </entry>
          <entry>
            <key>Grouping Attribute</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ControlRate</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>RUNNING</state>
      <style></style>
      <type>org.apache.nifi.processors.standard.ControlRate</type>
    </processors>
    <processors>
      <id>9fdf0900-5a24-3165-0000-000000000000</id>
      <parentGroupId>c3687264-465b-3ec1-0000-000000000000</parentGroupId>
      <position>
        <x>11.0</x>
        <y>227.0</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Packaging Format</key>
            <value>
              <name>Packaging Format</name>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <name>File Filter</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Packaging Format</key>
            <value>zip</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>.*</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>UnpackContent</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>RUNNING</state>
      <style></style>
      <type>org.apache.nifi.processors.standard.UnpackContent</type>
    </processors>
    <processors>
      <id>0af0548c-3e8b-363b-0000-000000000000</id>
      <parentGroupId>c3687264-465b-3ec1-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Input Directory</key>
            <value>
              <name>Input Directory</name>
            </value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>
              <name>Recurse Subdirectories</name>
            </value>
          </entry>
          <entry>
            <key>Input Directory Location</key>
            <value>
              <name>Input Directory Location</name>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <name>File Filter</name>
            </value>
          </entry>
          <entry>
            <key>Path Filter</key>
            <value>
              <name>Path Filter</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>
              <name>Minimum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
            <value>
              <name>Maximum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>
              <name>Minimum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
            <value>
              <name>Maximum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>
              <name>Ignore Hidden Files</name>
            </value>
          </entry>
          <entry>
            <key>target-system-timestamp-precision</key>
            <value>
              <name>target-system-timestamp-precision</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Input Directory</key>
            <value>/data</value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Input Directory Location</key>
            <value>Local</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>[^\.].*</value>
          </entry>
          <entry>
            <key>Path Filter</key>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>true</value>
          </entry>
          <entry>
            <key>target-system-timestamp-precision</key>
            <value>auto-detect</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ListFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>RUNNING</state>
      <style></style>
      <type>org.apache.nifi.processors.standard.ListFile</type>
    </processors>
    <processors>
      <id>44d24922-7b75-34fd-0000-000000000000</id>
      <parentGroupId>c3687264-465b-3ec1-0000-000000000000</parentGroupId>
      <position>
        <x>616.9000244140627</x>
        <y>26.699993896484358</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>File to Fetch</key>
            <value>
              <name>File to Fetch</name>
            </value>
          </entry>
          <entry>
            <key>Completion Strategy</key>
            <value>
              <name>Completion Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Move Destination Directory</key>
            <value>
              <name>Move Destination Directory</name>
            </value>
          </entry>
          <entry>
            <key>Move Conflict Strategy</key>
            <value>
              <name>Move Conflict Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Log level when file not found</key>
            <value>
              <name>Log level when file not found</name>
            </value>
          </entry>
          <entry>
            <key>Log level when permission denied</key>
            <value>
              <name>Log level when permission denied</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>File to Fetch</key>
            <value>${absolute.path}/${filename}</value>
          </entry>
          <entry>
            <key>Completion Strategy</key>
            <value>None</value>
          </entry>
          <entry>
            <key>Move Destination Directory</key>
          </entry>
          <entry>
            <key>Move Conflict Strategy</key>
            <value>Rename</value>
          </entry>
          <entry>
            <key>Log level when file not found</key>
            <value>ERROR</value>
          </entry>
          <entry>
            <key>Log level when permission denied</key>
            <value>ERROR</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>FetchFile</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>not.found</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>permission.denied</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <state>RUNNING</state>
      <style></style>
      <type>org.apache.nifi.processors.standard.FetchFile</type>
    </processors>
    <processors>
      <id>49d98939-7447-3d25-0000-000000000000</id>
      <parentGroupId>c3687264-465b-3ec1-0000-000000000000</parentGroupId>
      <position>
        <x>642.0</x>
        <y>236.0</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Record Reader</key>
            <value>
              <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
              <name>Record Reader</name>
            </value>
          </entry>
          <entry>
            <key>Record Writer</key>
            <value>
              <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
              <name>Record Writer</name>
            </value>
          </entry>
          <entry>
            <key>Records Per Split</key>
            <value>
              <name>Records Per Split</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Record Reader</key>
            <value>3a57db91-41ec-3ccf-0000-000000000000</value>
          </entry>
          <entry>
            <key>Record Writer</key>
            <value>8251da4d-4681-3b78-0000-000000000000</value>
          </entry>
          <entry>
            <key>Records Per Split</key>
            <value>100</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>SplitRecord</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>splits</name>
      </relationships>
      <state>RUNNING</state>
      <style></style>
      <type>org.apache.nifi.processors.standard.SplitRecord</type>
    </processors>
    <processors>
      <id>6c1cd8a6-0185-3c88-0000-000000000000</id>
      <parentGroupId>c3687264-465b-3ec1-0000-000000000000</parentGroupId>
      <position>
        <x>733.199951171875</x>
        <y>542.0</y>
      </position>
      <bundle>
        <artifact>nifi-elasticsearch-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.4.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>elasticsearch-http-url</key>
            <value>
              <name>elasticsearch-http-url</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>elasticsearch-http-connect-timeout</key>
            <value>
              <name>elasticsearch-http-connect-timeout</name>
            </value>
          </entry>
          <entry>
            <key>elasticsearch-http-response-timeout</key>
            <value>
              <name>elasticsearch-http-response-timeout</name>
            </value>
          </entry>
          <entry>
            <key>put-es-record-record-reader</key>
            <value>
              <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
              <name>put-es-record-record-reader</name>
            </value>
          </entry>
          <entry>
            <key>put-es-record-id-path</key>
            <value>
              <name>put-es-record-id-path</name>
            </value>
          </entry>
          <entry>
            <key>put-es-record-index</key>
            <value>
              <name>put-es-record-index</name>
            </value>
          </entry>
          <entry>
            <key>put-es-record-type</key>
            <value>
              <name>put-es-record-type</name>
            </value>
          </entry>
          <entry>
            <key>put-es-record-index-op</key>
            <value>
              <name>put-es-record-index-op</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>elasticsearch-http-url</key>
            <value>http://elasticsearch:9200</value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Username</key>
            <value>elastic</value>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>elasticsearch-http-connect-timeout</key>
            <value>60 secs</value>
          </entry>
          <entry>
            <key>elasticsearch-http-response-timeout</key>
            <value>60 secs</value>
          </entry>
          <entry>
            <key>put-es-record-record-reader</key>
            <value>f65caf85-0356-386b-0000-000000000000</value>
          </entry>
          <entry>
            <key>put-es-record-id-path</key>
          </entry>
          <entry>
            <key>put-es-record-index</key>
            <value>enron</value>
          </entry>
          <entry>
            <key>put-es-record-type</key>
            <value>default</value>
          </entry>
          <entry>
            <key>put-es-record-index-op</key>
            <value>index</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutElasticsearchHttpRecord</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>retry</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <state>RUNNING</state>
      <style></style>
      <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchHttpRecord</type>
    </processors>
  </snippet>
  <timestamp>03/12/2018 18:37:39 UTC</timestamp>
</template>